# {{ ansible_managed }}
[Unit]
Description=Transmission BitTorrent Daemon
After=network.target {{ transmission_required_services|join(' ') }}
Requires={{ transmission_required_services|join(' ') }}

[Service]
User={{ transmissionUser }}
Type=notify
ExecStart=/usr/bin/transmission-daemon -f --log-error -c {{ downloadsDir }}
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
